

body{
	background-image:url(arturo-rey-5yP83RhaFGA-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
.logo{
	font-size:50px ;
	font-family:  montserrat;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	color: orange;
	text-transform: uppercase;
}


.nav{
	background: black;
	background-size: 100%;
	margin: 0;
	width: 100%;
	height: 80px;
	}

.item{
	display: inline;
	margin: 0 8px;
	line-height: 50px;
}
.items{
	float: left;
	margin-left: 150px;
	list-style-type: none;

}
.hml.active,.hml:hover {
	border: 1px solid white;
	transition: .5s;
	text-decoration: none;
	color: orange;

}
.hml{
	text-decoration: none;
	color: white;
	padding: 7px 10px ;
	border: 1px solid transparent;
	border-radius: 3px;
	font-family: montserrat;
	font-size: 18px ;
	text-transform: uppercase;
}

a.fa fa-facebook{
	color: skyblue;
	justify-content: center;
	font-size: 50px;
}


.ppb{
	background: white;
	place-items: center;
	max-width: 350px;
	width: 100%;
	padding:25px 30px ;
    border-radius:5px ;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    float: right;
    margin-right: 30px;
    margin-top: 50px;
 
}
.title{
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0 10px 0;
	color: black;
}
.box{
	width: 100%;
	height: 45px;
	margin-top: 25px;
	position: relative;
}
 input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 16px;
	border: none;
	border-radius: 5px;	
}
.box input[type="submit"]{
	background: hotpink;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-family: montserrat;
	font-size: 20px;
	background: linear-gradient(to left,hotpink 0%,hotpink 100%);
	transition: all 0.5s ease;
}

.box input[type="submit"]:hover{
		letter-spacing: 1px;
		background: linear-gradient(to left,hotpink 0%,hotpink 100%);
		transform: scale(1);
}
.box input[type="submit"].active{
	transform: scale(1);
}



.underline: before{
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	background: #ccc;
	left: 0;
	bottom: 0;

}
.underline:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	background: #ccc;
	left: 0;
	bottom: 0;
	background: hotpink;
	transform: scale(0);
	transform-origin: left;
	transition: all 0.3s ease;
}
input:focus ~ .underline:after{
	transform: scale(1);
    transform-origin:left ;
}
.button{
	float: right;
	margin-right: 45px;
	margin-top: 25px;
	font-family:  montserrat;
	color: orange;
	text-transform: uppercase;
}
.button{
	padding: 6px 20px;
	border: 2px solid white;
	background: transparent;
	border-radius: 6px;
	cursor: pointer;
	color: black;

}
.button input{
	color: white;
	font-family:montserrat ;
	font-size: 20px;
	background: black;
}
.button:active{
	transform: scale(0.98);
}
.option{
	font-family: montserrat ;
	font-size: 20px;
	color: black;
	text-align: center;
	margin left :10px ;
}
.fab{
	place-items: center;
	justify-content: distance;
	font-size: 16px;
}
.Facebook a,.Twitter a,.Insta a{
	display: block;
	width: 100%;
	height: 45px;
	font-size: 15px;
	text-decoration: none;
	padding-left: 20px;
	background: skyblue;
    border-radius:5px ;
    line-height: 45px;
    margin: 20px 15px;
}
.Facebook i,.Twitter i,.Insta i{
	padding-right:12px ;
	font-size: 20px;
	letter-spacing: 2px;
}
.heading{
	width: 600px;
	height: auto;
	margin: 35px;
    color: black;
    position: relative;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.15) ;
    background: hotpink;
    width: 35%;
	padding:5px 15px ;
    border-radius:5px ;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    float: left;
}
.para{
	color: white;
	font-family: arial;
	font-size: 20px;
	letter-spacing: 0.5px;
	padding-left: 80px;
	padding-bottom: 25px;
	line-height: 30px;
	justify-content: center;
}
.heading h1{
	font-family: times and roman;
	font-size: 40px;
	padding-left: 20px;
	margin-top: 9%;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.heading h1, .para{
	
}

 ul li .dropdown{
	display: block;
}
ul li.dropdown{
	width: 100%;
	background: black;
	position: absolute;
	display: none;
}

